.bg-red {
  background: $red;
}
.bg-green {
  background: $green;
}
.bg-blue {
  background: $blue;
}
.bg-yellow {
  background: $yellow;
}
.bg-black {
  background: $black;
}
.bg-white {
  background: $white;
}
.bg-orange {
  background: $orange;
}
.bg-brown {
  background: $brown;
}

.bg-gray-1 {
  background: $gray-1;
}
.bg-gray-2 {
  background: $gray-2;
}
.bg-gray-3 {
  background: $gray-3;
}
.bg-gray-4 {
  background: $gray-4;
}
