.bg-red {
  background: $red;
}
.bg-green {
  background: $green;
}
.bg-blue {
  background: $blue;
}
.bg-yellow {
  background: $yellow;
}
.bg-black {
  background: $black;
}
.bg-white {
  background: $white;
}
.bg-orange {
  background: $orange;
}
.bg-brown {
  background: $brown;
}
