@mixin button-base($background, $color) {
  background: $background;
  color: $color;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: $base-margin;

  &:hover {
    opacity: 0.8;
  }
}

@each $colorName, $colorCode in $colors {
  .button-#{$colorName} {
    @include button-base($colorCode, $white);
    @if ($colorName == "white") {
      @include button-base($colorCode, $black);
    }
    border: 1px solid $colorCode;
  }
}
