// margin

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 2.5rem;
}

.m-5 {
  margin: 3rem;
}

.m-6 {
  margin: 3.5rem;
}

// margin top
.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 2.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mt-6 {
  margin-top: 3.5rem;
}

// margin bottom
.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 2.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 3.5rem;
}

// margin left
.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 2rem;
}

.ml-4 {
  margin-left: 2.5rem;
}

.ml-5 {
  margin-left: 3rem;
}

.ml-6 {
  margin-left: 3.5rem;
}

// margin right
.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 2rem;
}

.mr-4 {
  margin-right: 2.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mr-6 {
  margin-right: 3.5rem;
}

// margin x
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-2 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.mx-3 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mx-4 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.mx-5 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.mx-6 {
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}

// margin y
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-4 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-6 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
