// padding
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 2.5rem;
}

.p-5 {
  padding: 3rem;
}

.p-6 {
  padding: 3.5rem;
}

// padding top
.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 2rem;
}

.pt-4 {
  padding-top: 2.5rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pt-6 {
  padding-top: 3.5rem;
}

// padding bottom

.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 2rem;
}

.pb-4 {
  padding-bottom: 2.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 3.5rem;
}

// padding left
.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 2rem;
}

.pl-4 {
  padding-left: 2.5rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pl-6 {
  padding-left: 3.5rem;
}

// padding right
.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 2rem;
}

.pr-4 {
  padding-right: 2.5rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pr-6 {
  padding-right: 3.5rem;
}

// padding x

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-2 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.px-3 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.px-4 {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.px-5 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.px-6 {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

// padding y

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-4 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-6 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
