.text-red {
  color: $red;
}
.text-green {
  color: $green;
}
.text-blue {
  color: $blue;
}
.text-yellow {
  color: $yellow;
}
.text-black {
  color: $black;
}
.text-white {
  color: $white;
}
.text-orange {
  color: $orange;
}
.text-brown {
  color: $brown;
}

.text-gray-1 {
  color: $gray-1;
}
.text-gray-2 {
  color: $gray-2;
}
.text-gray-3 {
  color: $gray-3;
}
.text-gray-4 {
  color: $gray-4;
}
