$red: #d63031;
$green: #00b894;
$blue: #0984e3;
$yellow: #fdcb6e;
$black: #1d1d1d;
$white: #fff;
$orange: #ff9f1a;
$brown: #603018;

$gray-1: #dfe6e9;
$gray-2: #b2bec3;
$gray-3: #636e72;
$gray-4: #2d3436;

$base-padding: 0.5rem;
$base-margin: 0.5rem;

$padding-1: 0.5rem;
$padding-2: 1rem;
$padding-3: 1.5rem;
$padding-4: 2rem;
$padding-5: 2.5rem;

$margin-1: 0.5rem;
$margin-2: 1rem;
$margin-3: 1.5rem;
$margin-4: 2rem;
$margin-5: 2.5rem;
