$red: #d63031;
$blue: #0984e3;
$green: #00b894;
$yellow: #f1c40f;
$purple: #8c7ae6;
$orange: #fa8231;
$black: #2f3640;
$white: #f5f6fa;

$colors: (
  "red": $red,
  "blue": $blue,
  "green": $green,
  "yellow": $yellow,
  "purple": $purple,
  "orange": $orange,
  "black": $black,
  "white": $white,
);

$base-padding: 1rem;
$base-margin: 1rem;

$padding-1: $base-padding * 0.5;
$padding-2: $base-padding * 1;
$padding-3: $base-padding * 1.5;
$padding-4: $base-padding * 2;
$padding-5: $base-padding * 2.5;
$padding-6: $base-padding * 3;

$margin-1: $base-margin * 0.5;
$margin-2: $base-margin * 1;
$margin-3: $base-margin * 1.5;
$margin-4: $base-margin * 2;
$margin-5: $base-margin * 2.5;
$margin-6: $base-margin * 3;
