@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

.text-red {
  color: #d63031;
}

.text-green {
  color: #00b894;
}

.text-blue {
  color: #0984e3;
}

.text-yellow {
  color: #fdcb6e;
}

.text-black {
  color: #1d1d1d;
}

.text-white {
  color: #fff;
}

.text-orange {
  color: #ff9f1a;
}

.text-brown {
  color: #603018;
}

.text-gray-1 {
  color: #dfe6e9;
}

.text-gray-2 {
  color: #b2bec3;
}

.text-gray-3 {
  color: #636e72;
}

.text-gray-4 {
  color: #2d3436;
}

.bg-red {
  background: #d63031;
}

.bg-green {
  background: #00b894;
}

.bg-blue {
  background: #0984e3;
}

.bg-yellow {
  background: #fdcb6e;
}

.bg-black {
  background: #1d1d1d;
}

.bg-white {
  background: #fff;
}

.bg-orange {
  background: #ff9f1a;
}

.bg-brown {
  background: #603018;
}

.bg-gray-1 {
  background: #dfe6e9;
}

.bg-gray-2 {
  background: #b2bec3;
}

.bg-gray-3 {
  background: #636e72;
}

.bg-gray-4 {
  background: #2d3436;
}

.button-red {
  background: #d63031;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.button-red:hover {
  opacity: 0.8;
}

.button-green {
  background: #00b894;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.button-green:hover {
  opacity: 0.8;
}

.button-blue {
  background: #0984e3;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.button-blue:hover {
  opacity: 0.8;
}

.button-yellow {
  background: #fdcb6e;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.button-yellow:hover {
  opacity: 0.8;
}

.button-black {
  background: #1d1d1d;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.button-black:hover {
  opacity: 0.8;
}

.button-white {
  background: #fff;
  color: #1d1d1d;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.button-white:hover {
  opacity: 0.8;
}

.button-orange {
  background: #ff9f1a;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.button-orange:hover {
  opacity: 0.8;
}

.button-brown {
  background: #603018;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.button-brown:hover {
  opacity: 0.8;
}

.link-red {
  color: #d63031;
}

.link-green {
  color: #00b894;
}

.link-blue {
  color: #0984e3;
}

.link-yellow {
  color: #fdcb6e;
}

.link-black {
  color: #1d1d1d;
}

.link-white {
  color: #fff;
}

.link-orange {
  color: #ff9f1a;
}

.link-brown {
  color: #603018;
}

.container {
  max-width: 960px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

/*# sourceMappingURL=style.css.map */
