@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

.text-red {
  color: #d63031;
}

.text-blue {
  color: #0984e3;
}

.text-green {
  color: #00b894;
}

.text-yellow {
  color: #f1c40f;
}

.text-purple {
  color: #8c7ae6;
}

.text-orange {
  color: #fa8231;
}

.text-black {
  color: #2f3640;
}

.text-white {
  color: #f5f6fa;
}

.text-gray-1 {
  color: rgba(47, 54, 64, 0.1);
}

.bg-gray-1 {
  background-color: rgba(47, 54, 64, 0.1);
}

.text-gray-2 {
  color: rgba(47, 54, 64, 0.2);
}

.bg-gray-2 {
  background-color: rgba(47, 54, 64, 0.2);
}

.text-gray-3 {
  color: rgba(47, 54, 64, 0.3);
}

.bg-gray-3 {
  background-color: rgba(47, 54, 64, 0.3);
}

.text-gray-4 {
  color: rgba(47, 54, 64, 0.4);
}

.bg-gray-4 {
  background-color: rgba(47, 54, 64, 0.4);
}

.text-gray-5 {
  color: rgba(47, 54, 64, 0.5);
}

.bg-gray-5 {
  background-color: rgba(47, 54, 64, 0.5);
}

.text-gray-6 {
  color: rgba(47, 54, 64, 0.6);
}

.bg-gray-6 {
  background-color: rgba(47, 54, 64, 0.6);
}

.text-gray-7 {
  color: rgba(47, 54, 64, 0.7);
}

.bg-gray-7 {
  background-color: rgba(47, 54, 64, 0.7);
}

.text-gray-8 {
  color: rgba(47, 54, 64, 0.8);
}

.bg-gray-8 {
  background-color: rgba(47, 54, 64, 0.8);
}

.text-gray-9 {
  color: rgba(47, 54, 64, 0.9);
}

.bg-gray-9 {
  background-color: rgba(47, 54, 64, 0.9);
}

.text-gray-10 {
  color: #2f3640;
}

.bg-gray-10 {
  background-color: #2f3640;
}

.bg-red {
  background: #d63031;
}

.bg-blue {
  background: #0984e3;
}

.bg-green {
  background: #00b894;
}

.bg-yellow {
  background: #f1c40f;
}

.bg-purple {
  background: #8c7ae6;
}

.bg-orange {
  background: #fa8231;
}

.bg-black {
  background: #2f3640;
}

.bg-white {
  background: #f5f6fa;
}

.button-red {
  background: #d63031;
  color: #f5f6fa;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  border: 1px solid #d63031;
}
.button-red:hover {
  opacity: 0.8;
}

.button-blue {
  background: #0984e3;
  color: #f5f6fa;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  border: 1px solid #0984e3;
}
.button-blue:hover {
  opacity: 0.8;
}

.button-green {
  background: #00b894;
  color: #f5f6fa;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  border: 1px solid #00b894;
}
.button-green:hover {
  opacity: 0.8;
}

.button-yellow {
  background: #f1c40f;
  color: #f5f6fa;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  border: 1px solid #f1c40f;
}
.button-yellow:hover {
  opacity: 0.8;
}

.button-purple {
  background: #8c7ae6;
  color: #f5f6fa;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  border: 1px solid #8c7ae6;
}
.button-purple:hover {
  opacity: 0.8;
}

.button-orange {
  background: #fa8231;
  color: #f5f6fa;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  border: 1px solid #fa8231;
}
.button-orange:hover {
  opacity: 0.8;
}

.button-black {
  background: #2f3640;
  color: #f5f6fa;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  border: 1px solid #2f3640;
}
.button-black:hover {
  opacity: 0.8;
}

.button-white {
  background: #f5f6fa;
  color: #f5f6fa;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  background: #f5f6fa;
  color: #2f3640;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  border: 1px solid #f5f6fa;
}
.button-white:hover {
  opacity: 0.8;
}
.button-white:hover {
  opacity: 0.8;
}

.link-red {
  color: #d63031;
}

.link-blue {
  color: #0984e3;
}

.link-green {
  color: #00b894;
}

.link-yellow {
  color: #f1c40f;
}

.link-purple {
  color: #8c7ae6;
}

.link-orange {
  color: #fa8231;
}

.link-black {
  color: #2f3640;
}

.link-white {
  color: #f5f6fa;
}

.border-red {
  border: 1px solid #d63031;
}

.border-blue {
  border: 1px solid #0984e3;
}

.border-green {
  border: 1px solid #00b894;
}

.border-yellow {
  border: 1px solid #f1c40f;
}

.border-purple {
  border: 1px solid #8c7ae6;
}

.border-orange {
  border: 1px solid #fa8231;
}

.border-black {
  border: 1px solid #2f3640;
}

.border-white {
  border: 1px solid #f5f6fa;
}

.container {
  max-width: 960px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 4rem;
}

.p-4 {
  padding: 6rem;
}

.p-5 {
  padding: 8rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 4rem;
}

.pl-4 {
  padding-left: 6rem;
}

.pl-5 {
  padding-left: 8rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 4rem;
}

.pr-4 {
  padding-right: 6rem;
}

.pr-5 {
  padding-right: 8rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 4rem;
}

.pt-4 {
  padding-top: 6rem;
}

.pt-5 {
  padding-top: 8rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 6rem;
}

.pb-5 {
  padding-bottom: 8rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 4rem;
}

.m-4 {
  margin: 6rem;
}

.m-5 {
  margin: 8rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 4rem;
}

.ml-4 {
  margin-left: 6rem;
}

.ml-5 {
  margin-left: 8rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 4rem;
}

.mr-4 {
  margin-right: 6rem;
}

.mr-5 {
  margin-right: 8rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 4rem;
}

.mt-4 {
  margin-top: 6rem;
}

.mt-5 {
  margin-top: 8rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 4rem;
}

.mb-4 {
  margin-bottom: 6rem;
}

.mb-5 {
  margin-bottom: 8rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.font-sm {
  font-size: 0.8rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.3rem;
}

.font-xl {
  font-size: 1.7rem;
}

.font-xxl {
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
